GIN_DEBUG=true

REDIS_ADDRESS=localhost
REDIS_PORT=63799

DATABASE_ADDRESS=localhost
DATABASE_PORT=54329
DATABASE_NAME=vitalis
DATABASE_USER=vitalis_user
DATABASE_PASSWORD=CHANGEME

RUN_ADDRESS=0.0.0.0:8080
SECRET_KEY=

COLLECT_CPU_INFO_INTERVAL_SECONDS=100
COLLECT_RAM_INFO_INTERVAL_SECONDS=100
COLLECT_NET_INFO_INTERVAL_SECONDS=100
COLLECT_FILE_INFO_INTERVAL_SECONDS=100

MAX_INFO_GROUPS_AMOUNT=1000
MAX_SESSION_KEYS_AMOUNT=60

ACCESS_TOKEN_LIFETIME_MINUTES=60